@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Вариант 5. Магазины.</h1>
    <p>Имеются товары (наименование и сорт) и магазины (номер, наименование, адрес и площадь). Для каждого товара в магазине хранится единица измерения, цена за единицу и количество единиц.</p>
    <ol>
        <b>Выходные документы:</b>
        <li>
            для каждого магазина из заданного списка номеров выдать информацию о товарах с подсчетом стоимости товара и стоимости всех товаров в каждом магазине, упорядоченную по наименованиям товаров;
        </li>
        <li>
            выдать информацию о магазинах, упорядоченную по их адресам, с подсчетом средней площади всех магазинов.
        </li>        
    </ol>
</div>